<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>首页</title>
    <link href="/static/lib/pjax/nprogress.min.css" rel="stylesheet">
    <script src="/static/lib/jquery.min.js"></script>
    <script src="/static/lib/layui/layui.js"></script>
    <script src="/static/lib/notify/notify.js"></script>
    <script src="/static/lib/pjax/nprogress.min.js"></script>
</head>
<body>
<h3>Id：{:session('user.id')}</h3>
<h3>地址：{:request()->domain()}</h3>
<h3>用户：{:session('user.username')}</h3>
<a class="logout" href="javascript:void(0);">退出登录</a>
</body>
<script>
    $(function () {
        $(".logout").on("click", function () {
            notify.loading("登出中");
            $.ajax({
                url: "{:url('logout')}",
                type: "post",
                dataType: "json",
                success: function (res) {
                    notify.destroyAll();
                    if (res.code === 200) {
                        window.location.href = res.url;
                    } else {
                        notify.error(res.msg);
                    }
                }
            });
        });
    })
</script>
</html>